<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="/static/css/styles.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div class="container" style="margin-left: 30%; margin-top: 10%;">
    <main class="pb-3">
        <h1>Регистрация</h1>
        <div class="input-group mb-3">
            <form method="post" action="#" th:action="@{/register}" th:object="${registrationForm}">
                <input placeholder="имя" type="text" th:field="*{name}" class="form-control">
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <br>
                <input placeholder="фамилия" type="text" th:field="*{surname}" class="form-control">
                <p style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                <br>
                <input placeholder="отчество" type="text" th:field="*{secondName}" class="form-control">
                <p style="color: red" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></p>
                <br>
                <input placeholder="почта" type="text" th:field="*{email}" class="form-control">
                <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <br>
                <input placeholder="логин" type="text" th:field="*{username}" class="form-control">
                <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                <br>
                <input placeholder="пароль" type="text" th:field="*{password}" class="form-control">
                <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <br>
                <button type="submit" >Зарегистрироваться</button>
            </form>
            <br>
        </div>
    </main>
    <a th:href="@{/signin}">Войти</a>
</div>
</body>
</html>